{% extends '_base.html' %}

{% block page_title %}Home page{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>Home page</h1>
  {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} | <a href="{% url 'logout' %}">Log out</a></p>
  {% else %}
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign up</a>
  {% endif %}
<div>
{% endblock %}