{% extends "_base.html" %}

{% block page_title %}Books detail{{ book.title }}{% endblock %}

{% block content %}
    <h1>{{ book.title|capfirst }}</h1>
    <p>{{ book.description|linebreaks }}</p>
    <p>{{ book.author }}</p>
    <p>{{ book.price }}</p>
    <a href="{% url 'book_update' book.id %}"><button type="submit", class="btn btn-info">Edit</button></a>
    <a href="{% url 'book_delete' book.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
    <br>
    <a href="{% url 'book_list' %}">Books List</a>
{% endblock %}